---
import Layout from "../../layouts/Layout.astro";
import {Content} from './tos.md'


---

<Layout title="tos">
   <div class="flex justify-center">
     <div class=" prose">
        <Content/>
    </div>
   </div>
</Layout>