---
import Layout from "../layouts/Layout.astro";
import {Content} from '../content/pages/contact.md'


---

<Layout title="about">
   <div class="flex justify-center">
     <div class=" prose">
        <Content/>
    </div>
   </div>
</Layout>